.pro-qty-detail {
    display: inline-block;
    position: relative;
  }
  .pro-qty-detail input {
    width: 170px;
    height: 50px;
    font-size: 13px;
    border: 2px solid #E63946;
    border-radius: 50px;
    color: #231942;
    font-weight: 700;
    padding: 0 55px 0;
    text-align: center;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
    .pro-qty-detail input {
      width: 163px;
      height: 44px;
      padding: 0 48px 0;
    }
  }
  
.header-cart-btn {
    width: 50px !important;
  }
  